/* Arquivo CSS */
body {
  background-color: #F7F7F7;
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #47D1D1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav a {
  color: #FFF;
  text-decoration: none;
  padding: 10px;
  display: block;
}

#slideshow {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.active {
  opacity: 1;
}

#introduction {
  padding: 50px;
  text-align: center;
}

#introduction h1 {
  color: #47D1D1;
  margin-bottom: 30px;
}

